@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@400;600&display=swap');

body {
  font-family: 'Fredoka', sans-serif;
  background: linear-gradient(to bottom right, #ffecb3, #ffe0f0);
  margin: 0;
  padding: 0;
  text-align: center;
}

.container {
  padding-top: 100px;
}
.start-button, .home-button, #reset-button {
    display: inline-block;
    margin: 10px;
    padding: 15px 30px;
    font-size: 18px;
    background-color: #ff69b4;
    color: white;
    border: none;
    border-radius: 20px;
    text-decoration: none;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0,0,0,0.2);
    transition: background-color 0.3s, transform 0.2s;
  }
  